html
  head
    title='CSC 690 - Capstone Project'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Welcome to the Capstone Course!!!
        p Click the button below to access the Course Materials...
        p 
          a.btn.btn-primary(href="http://www.cse.scu.edu/~mwang2/") 
        p